<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <!-- Simple CORS Filter -->
  <filter>
    <filter-name>SimpleCorsFilter</filter-name>
    <filter-class>utils.SimpleCorsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SimpleCorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- Servlet for Login -->
  <servlet>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/verify</url-pattern>
  </servlet-mapping>

  <!-- Servlet for Add Customer -->
  <servlet>
    <servlet-name>AddCustomerController</servlet-name>
    <servlet-class>controller.AddCustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddCustomerController</servlet-name>
    <url-pattern>/addCustomer</url-pattern>
  </servlet-mapping>

  <!-- Servlet for Calculate Bill -->
  <servlet>
    <servlet-name>CalculateBillController</servlet-name>
    <servlet-class>controller.CalculateBillController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CalculateBillController</servlet-name>
    <url-pattern>/calculateBill</url-pattern>
  </servlet-mapping>

  <!-- Servlet for Display Account -->
  <servlet>
    <servlet-name>DisplayAccountController</servlet-name>
    <servlet-class>controller.DisplayAccountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAccountController</servlet-name>
    <url-pattern>/displayAccount</url-pattern>
  </servlet-mapping>

  <!-- Servlet for Edit Customer -->
  <servlet>
    <servlet-name>EditCustomerController</servlet-name>
    <servlet-class>controller.EditCustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditCustomerController</servlet-name>
    <url-pattern>/editCustomer</url-pattern>
  </servlet-mapping>

  <!-- Servlet for Help -->
  <servlet>
    <servlet-name>HelpController</servlet-name>
    <servlet-class>controller.HelpController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelpController</servlet-name>
    <url-pattern>/help</url-pattern>
  </servlet-mapping>

  <!-- Servlet for Manage Item -->
  <servlet>
    <servlet-name>ManageItemController</servlet-name>
    <servlet-class>controller.ManageItemController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageItemController</servlet-name>
    <url-pattern>/manageItem</url-pattern>
  </servlet-mapping>

  <!-- Servlet for View Bills -->
  <servlet>
    <servlet-name>ViewBillsController</servlet-name>
    <servlet-class>controller.ViewBillsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBillsController</servlet-name>
    <url-pattern>/viewBills</url-pattern>
  </servlet-mapping>

  <!--  Servlet for delete customer-->
  <servlet>
    <servlet-name>DeleteCustomerController</servlet-name>
    <servlet-class>controller.DeleteCustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomerController</servlet-name>
    <url-pattern>/deleteCustomer</url-pattern>
  </servlet-mapping>

  <!--  Servlet for search items-->

  <servlet>
    <servlet-name>SearchItemsController</servlet-name>
    <servlet-class>controller.SearchItemsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchItemsController</servlet-name>
    <url-pattern>/searchItems</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GetAllItemsController</servlet-name>
    <servlet-class>controller.GetAllItemsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllItemsController</servlet-name>
    <url-pattern>/getAllBooks</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>GetCustomerController</servlet-name>
    <servlet-class>controller.GetCustomerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCustomerController</servlet-name>
    <url-pattern>/getCustomer</url-pattern>
  </servlet-mapping>




</web-app>